/* CSS declarations go here */
.logoReplacement {
	text-indent: -9999px;
	width: 172px;
   	height: 41px !important;
   	background: url(public/logo_white.png) no-repeat; 
   	margin-top: 8px;
   	display: inline-block;
   	vertical-align: middle;
}

img.resize {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.carousel {
    height: 500px;
    margin-bottom: 60px;
}

.navbar {
    border-radius: 10px !important;
}

.container > .navbar-header {
    margin-left: 10px !important;
}

.navbar-wrapper {
    margin-top: 20px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 20;
}

div.item {
    height: 500px;
}

.featurette-divider {
    margin: 80px 0px !important;
}

.col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}

.marginUp {
    margin-top: -60px;
    margin-bottom: 10px;
}

.marginUp > h2 {
    text-align: center;
}

.spaces-list{
    padding-top: 100px;
}

a.normal-text, a.normal-text:active, a.normal-text:visited, a.normal-text:hover {
    color: black;
    text-decoration: none;
}

.new-panel {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
